/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Light background color */
  margin: 0;
  padding: 0;
}

/* Navbar Styles */
.navbar {
  background-color: #ffffff; /* White background */
}

.navbar-nav .nav-link {
  color: #020035; /* Dark blue text color */
}

.navbar-nav .nav-link:hover {
  color: #020035; /* Dark blue text color on hover */
}

/* Primary Color */
.primary-color {
  color: #020035; /* Dark blue color */
}

/* Carousel Styles */
.carousel-item img {
  max-height: 500px; /* Slightly increased height */
  object-fit: cover; /* Cover the area without distortion */
}

.carousel-caption {
  color: #020035; /* Dark blue text color */
  font-size: 1.5rem; /* Increased text size */
}


/* Card Styles */
.card {
  border: 1px solid #dee2e6; /* Light border */
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.card-title {
  font-size: 1.25rem; /* Larger title font */
}

.card-text {
  color: #6c757d; /* Slightly muted text color */
}

/* Footer Styles */
.footer {
  background-color: #020035; /* Dark blue background */
  color: white; /* White text color */
  padding: 1rem;
  text-align: center;
}
.form-container {
  max-width: 800px; /* Set a maximum width */
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.form-section {
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .form-container {
    max-width: 100%; /* Make the form full-width on small screens */
    padding: 10px;
  }
  
  .form-section {
    padding: 15px;
  }
}
